<!DOCTYPE html>
<html>
<head>
  <title>untitled interceptor</title>
  <link rel="stylesheet" href="../css/spectre.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  
  <header id="ntrcptr-header">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1>untitled chrome interceptor</h1>
        </div>
      </div>
    </div>
  </header>
  
  <main id="ntrcptr-wrapper">
    <div class="container">
      <div class="columns">
        <div class="column col-12">

          <div>
            <form id="ntrcptr-form">
              <div class="form-group">
                <label class="form-switch">
                  <input type="checkbox" id="chk-toggle-interceptor" name="chk-toggle-interceptor" class="float-right">
                  <i class="form-icon"></i> Toggle Interceptor
                </label>
              </div>
              <div class="form-group">
                <label class="form-switch">
                  <input type="checkbox" id="chk-use-placeholders" name="chk-use-placeholders">
                  <i class="form-icon"></i> Use Image Placeholders
                </label>
              </div>
              <!--
              <div class="form-group">
                <label class="form-checkbox">
                  <input type="checkbox" id="chk-prevent-meta-refresh" name="chk-prevent-meta-refresh">
                  <i class="form-icon"></i> Prevent &lt;meta&gt; refreshes
                </label>
              </div>
              <div class="form-group">
                <label class="form-checkbox">
                    <input type="checkbox" id="chk-reload-after-toggle" name="chk-reload-after-toggle">
                    <i class="form-icon"></i> Reload after toggle
                </label>
              </div>
              -->
            </form>            
          </div>

        </div>
      </div>
    </div>
  </main>
  
  <footer id="ntrcptr-footer">
    <div class="container">
      <div class="columns">
        <div class="column col-12">
          <div class="text-center">
            <a href="https://github.com/xkema/untitled-chrome-interceptor" target="_blank" class="btn btn-sm btn-link">GitHub</a>
            <button id="btn-open-options-page" class="btn btn-sm btn-link">Extension Options</button>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="../js/utils.js"></script>
  <script src="../js/popup.bundle.js"></script>
</body>
</html>