/*! options page */

header,
footer {
  padding: 1rem 1rem;
  background-color: whitesmoke;
}

.title h1 {
  white-space: nowrap;
  font-size: 1rem;
}

main {
  padding: 1rem 1rem;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  position: relative;
}

.option-group {
  margin-bottom: 1rem;
}

.option-group:last-child {
  margin-bottom: 0;
}

.option-group.submit {
  text-align: right;
}

.form-info {
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.25));
}

.form-info .message {
  font-size: 87.5%;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  opacity: 0.95;
}

.form-info .message.error {
  background-color: mistyrose;
  border: 1px solid pink;
}

.form-info .message.success {
  background-color: palegreen;
  border: 1px solid yellowgreen;
}

.form-info .message.warning {
  background-color: lemonchiffon;
  border: 1px solid darkkhaki;
}

.option-group label {
  display: block;
  padding: 0.5rem 0;
  font-weight: 500;
}

.option-group textarea {
  display: block;
  width: 100%;
  min-height: 7rem;
  font-size: 87.5%;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
  resize: vertical;
  overflow: auto;
  white-space: nowrap;
}

.has-invalid-redirection-lines textarea[name="redirectionsRaw"],
.has-invalid-match-lines textarea[name="matchesRaw"] {
  border-color: tomato;
}

footer nav {
  font-size: 87.5%;
  text-align: center;
}

footer nav a {
  display: inline-block;
  padding: 0 0.25rem;
  text-decoration: none;
  color: royalblue;
}

/* --- buttons */

.button {
  appearance: none;
  -webkit-appearance: none; /* thank you safari */
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid royalblue;
  cursor: pointer;
  color: white;
  background-color: mediumblue;
  color: whitesmoke;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
  text-align: center;
  outline: none;
  transition: background-color 0.5s, transform 0.25s;
}

.button:hover,
.button:focus {
  background-color: blue;
}

.button:focus {
  box-shadow: 0 0 0 2px rgba(1, 117, 255, .25);
}

.button:active {
  transform: scale( 0.975 );
}