<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Options page for extension">
  <title>Options | Missofis Network Request Interceptor</title>
  <link rel="stylesheet" href="./theme.css">
  <link rel="stylesheet" href="./options.css">
</head>
<body>
  <header class="title">
    <h1>Options</h1>
  </header>
  <main>
    <form class="form-options">
      <div class="option-group">
        <label for="redirectionsRaw">Redirections</label>
        <textarea placeholder="Intercepted & Redirected URLs (Internal Redirections, 307)" name="redirectionsRaw" id="redirectionsRaw"></textarea>
      </div>
      <div class="option-group">
        <label for="matchesRaw">Matches</label>
        <textarea placeholder="Intercepted & Blocked Image URLs" name="matchesRaw" id="matchesRaw"></textarea>
      </div>
      <div class="option-group submit">
        <button class="button">Update Options</button>
      </div>
    </form>
    <div class="form-info">
      <!-- <p class="message error success warning">message_content</p> -->
    </div>
  </main>
  <footer>
    <nav>
      <a href="#" target="_blank">GitHub</a>
    </nav>
  </footer>
  <script type="module" src="../../lib/browser-polyfill.min.js"></script>
  <script type="module" src="../options.js"></script>
</body>
</html>