/*! options page */

:root {
  --gap: 1rem;
  --half-gap: calc( var(--gap) / 2 );
  --double-gap: calc( var(--gap) * 2 );
  --separator: calc( var(--gap) * 10 );
}

/* -- element styles */

body {
  display: grid;
  gap: 0;
  grid-template-areas:
    "aside    main";
  grid-template-columns: auto 1fr;
}

aside {
  grid-area: aside;
  background-color: whitesmoke;
  border-right: 1px solid gainsboro;
}

main {
  grid-area: main;
}

/* -- layout styles */

.sidebar {
  position: sticky;
  top: 0;
  padding: var(--double-gap);
}

.sidebar h1 {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: var(--double-gap);
}

.sidebar h1 > :first-child {
  margin-right: var(--half-gap);
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar nav > a {
  display: block;
  position: relative;
  padding: var(--half-gap) var(--gap);
  border: 1px solid transparent;
  text-decoration: none;
  text-align: center;
  color: black;
  border-radius: var(--gap);
}

.sidebar nav > a.active {
  background-color: white;
  border: 1px solid gainsboro;
}

.tabs {
  margin: 0;
  padding: 0;
}

.tabs > li.tab {
  list-style: none;
  position: relative;
  display: block;
  min-height: 100vh;
  padding: var(--double-gap);
}

.tabs > li.tab:nth-last-child(n+2)::after {
  content: "\2193";
  display: block;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  color: darkgray;
  margin-top: calc( var(--double-gap) * 2 );
  padding: var(--separator);
}

.tab p {
  margin-bottom: var(--gap);
}

.tab h2 {
  padding-bottom: var(--half-gap);
  border-bottom: 1px solid gainsboro;
  margin-bottom: var(--double-gap);
}

.tab h3 {
  margin: var(--double-gap) 0;
}

.tab ul {
  margin-bottom: var(--gap);
}

.tab ul li {
  margin-bottom: var(--half-gap);
}

.about-details {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--half-gap);
}

.about-details > dd {
  margin-left: var(--double-gap);
}

span.pill {
  display: inline-block;
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  padding: 0 var(--half-gap);
  border-radius: var(--half-gap);
  font-size: 75%;
  white-space: pre-wrap;
}

/* -- options tab */

.option-group {
  margin-bottom: 1rem;
}

.option-group:last-child {
  margin-bottom: 0;
}

.form-info {
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.25));
}

.form-info .message {
  font-size: 87.5%;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  opacity: 0.95;
}

.form-info .message.error {
  background-color: mistyrose;
  border: 1px solid pink;
}

.form-info .message.success {
  background-color: palegreen;
  border: 1px solid yellowgreen;
}

.form-info .message.warning {
  background-color: lemonchiffon;
  border: 1px solid darkkhaki;
}

.option-group label {
  display: block;
  padding: 0.5rem 0;
  font-weight: 500;
}

.option-group label > i,
.option-group.submit span > i {
  margin-top: var(--half-gap);
  display: block;
  font-weight: normal;
  color: dimgray;
  font-size: 87.5%;
  font-style: normal;
}

.option-group textarea {
  display: block;
  width: 100%;
  height: 7rem;
  min-height: 20vh;
  font-size: 87.5%;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
  resize: vertical;
  overflow: auto;
  white-space: pre;
}

.option-group.floated {
  float: left;
}

.option-group.floated + .option-group {
  clear: both;
}

.has-invalid-redirection-lines textarea[name="redirectionsRaw"],
.has-invalid-match-lines textarea[name="matchesRaw"] {
  border-color: tomato;
}

/* -- buttons */

.button {
  appearance: none;
  -webkit-appearance: none; /* thank you safari */
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid royalblue;
  cursor: pointer;
  color: white;
  background-color: mediumblue;
  color: whitesmoke;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
  text-align: center;
  outline: none;
  transition: background-color 0.5s, transform 0.25s;
}

.button:hover,
.button:focus {
  background-color: blue;
}

.button:focus {
  box-shadow: 0 0 0 2px rgba(1, 117, 255, .25);
}

.button:active {
  transform: scale( 0.975 );
}

/* -- queries */

@media (max-width: 768px) {
  body {
    grid-template-areas:
    "aside"
    "main";
    grid-template-columns: auto;
  }
}