/*! options page */

.form-options {
  
}

.form-options label {

}

.form-options textarea {
  width: 100%;
  min-height: 10rem;
  /* font-size: 75%; */
}

.has-invalid-redirection-lines textarea[name="redirectionsRaw"],
.has-invalid-match-lines textarea[name="matchesRaw"] {
  background-color: mistyrose;
}

/* --- buttons */

.button {
  appearance: none;
  -webkit-appearance: none; /* thank you safari */
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid royalblue;
  cursor: pointer;
  color: white;
  background-color: mediumblue;
  color: whitesmoke;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
  text-align: center;
  outline: none;
  transition: background-color 0.5s, transform 0.5s;
}

.button:hover,
.button:focus {
  background-color: blue;
}

.button:focus {
  box-shadow: 0 0 0 2px rgba(1, 117, 255, .25);
}

.button:active {
  transform: scale( 0.975 );
}