/*! popup styles */

header,
footer {
  padding: 1rem 1.5rem;
}

main {
  padding: 0 1.5rem;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  font-size: 1rem;
  white-space: nowrap;
}

.title img {
  display: block;
  margin-right: 1rem;
}

.option-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.option-group:last-child {
  border-bottom: none;
}

.option-group label {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  white-space: nowrap;
  font-weight: 300;
  cursor: pointer;
  font-size: 87.5%;
}

footer nav {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  font-size: 75%;
}

footer nav a {
  display: inline-block;
  padding: 0 0.25rem;
  text-decoration: none;
  color: royalblue;
}

/* --- switches */

.toggler {
  --knob: 1rem;   /* knob size (::after) */
  --border: 1px;  /* main border */
  --pad: 1px;     /* space between knob and main border */
  --toggler-width: calc( 2 * ( var(--knob) + var(--border) + var(--pad) ) );        /* pre-calculations to keep toggler css readable */
  --toggler-height: calc( var(--knob) + ( 2 * ( var(--border) + var(--pad) ) ) );
}

.toggler {
  appearance: none;
  -webkit-appearance: none; /* thank you safari */
  width: var(--toggler-width);
  min-width: var(--toggler-width); /* to prevent flex shrinking if parent is a flex container */
  height: var(--toggler-height);
  position: relative;
  display: inline-block;
  background-color: gainsboro;
  margin: 0;
  border: var(--border) solid silver;
  border-radius: calc( var(--toggler-height) / 2 );
  cursor: pointer;
  transform: translateX( 0 );
  transition: background-color 0.25s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.125);
  vertical-align: middle;
  outline: none;
}

.toggler::after {
  content: '';
  display: block;
  left: var(--pad);
  top: var(--pad);
  position: absolute;
  background-color: whitesmoke;
  width: var(--knob);
  height: var(--knob);
  border-radius: calc( var(--knob) / 2 );
  transition: transform 0.25s;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
}

.toggler:checked {
  background-color: mediumblue;
}

.toggler:checked::after {
  background-color: white;
  transform: translateX( calc( 0px + var(--knob) ) );
}

.toggler:focus {
  box-shadow: 0 0 0 2px rgba(1, 117, 255, .25);
}

.toggler:disabled {
  opacity: .5;  
  cursor: not-allowed;
}