<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Popup panel for extension">
  <title>Popup | Missofis Request Interceptor</title>
  <link rel="stylesheet" href="./theme.css">
  <link rel="stylesheet" href="./popup.css">
</head>
<body>
  <header class="title">
    <img src="../../assets/img/icon-48.png" alt="">
    <h1>Missofis <br>Request Interceptor</h1>
  </header>
  <main>
    <form class="form-popup">
      <div class="option-group">
        <input type="checkbox" class="toggler" name="redirectionsOn" id="redirectionsOn">
        <label for="redirectionsOn">Toggle Interceptor</label>
      </div>
      <div class="option-group">
        <input type="checkbox" class="toggler" name="matchesOn" id="matchesOn">
        <label for="matchesOn">Use Image Placeholders</label>
      </div>
    </form>
  </main>
  <footer>
    <nav>
      <a href="#" target="_blank">GitHub</a>
      <a href="#" id="btn-open-options">Extension Options</a>
    </nav>
  </footer>
  <script type="module" src="../../lib/browser-polyfill.min.js"></script>
  <script type="module" src="../popup.js"></script>
</body>
</html>